{% extends 'base.html' %}
{% block content %}

  <form action="/tickets/new" method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="title" class="form-label">Title: </label>
    <input type="text" class="form-control" id="title" name="title" required>
    </div>  
  <div class="mb-3">
    <label for="description" class="form-label">Description: </label>
    <input type="text" class="form-control" id="description" name="description" required>
    </div>    
  <div class="mb-3" >  
<select name='priority' class="form-select" >
  <option selected>Select Priority:</option>
  {% for priority in prioritys %}
  <option value="{{priority.id}}">{{priority.name}}</option>
  {%endfor%}
</select>
  </div>
  <button type="submit" class="btn btn-primary">Create Ticket</button>
</form>
{% endblock %}
    